@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import "tailwindcss";

@theme {
    --color-primary: #030014;

    --color-light-100: #cecefb;
    --color-light-200: #a8b5db;

    --color-gray-100: #9ca4ab;

    --color-dark-100: #0f0d23;

    --font-dm-sans: DM Sans, sans-serif;

    --breakpoint-xs: 480px;

    --background-image-hero-pattern: url("/BG.png");
}

@layer base {
    body {
        font-family: "DM Sans", serif;
        font-optical-sizing: auto;
        background: #030014;
    }

    h1 {
        @apply mx-auto max-w-4xl text-center text-5xl font-bold leading-tight tracking-[-1%] text-white sm:text-[64px] sm:leading-[76px];
    }

    h2 {
        @apply text-2xl font-bold text-white sm:text-3xl;
    }

    main {
        @apply min-h-screen relative bg-primary;
    }

    header {
        @apply sm:mt-10 mt-5;
    }

    header img {
        @apply w-full max-w-lg h-auto object-contain mx-auto drop-shadow-md;
    }
}

@layer components {
    .pattern {
        @apply bg-hero-pattern w-full h-screen bg-center bg-cover absolute z-0;
    }

    .wrapper {
        @apply px-5 py-12 xs:p-10 max-w-7xl mx-auto flex flex-col relative z-10;
    }

    .trending {
        @apply mt-20;

        & ul {
            @apply flex flex-row overflow-y-auto gap-5 -mt-10 w-full hide-scrollbar;
        }

        & ul li {
            @apply min-w-[230px] flex flex-row items-center;
        }

        & ul li p {
            @apply fancy-text mt-[22px] text-nowrap;
        }

        & ul li img {
            @apply w-[127px] h-[163px] rounded-lg object-cover -ml-3.5;
        }
    }

    .search {
        @apply w-full bg-light-100/5 px-4 py-3 rounded-lg mt-10 max-w-3xl mx-auto;

        & div {
            @apply relative flex items-center;
        }

        & img {
            @apply absolute left-2 h-5 w-5;
        }

        & input {
            @apply w-full bg-transparent py-2 sm:pr-10 pl-10 text-base text-gray-200 placeholder-light-200 outline-hidden;
        }
    }

    .all-movies {
        @apply space-y-9;

        & ul {
            @apply grid grid-cols-1 gap-5 xs:grid-cols-2 md:grid-cols-3 lg:grid-cols-4;
        }
    }

    .movie-card {
        @apply bg-dark-100 p-5 rounded-2xl shadow-inner shadow-light-100/10;

        & img {
            @apply rounded-lg h-auto w-full;
        }

        & h3 {
            @apply text-white font-bold text-base line-clamp-1;
        }

        & .content {
            @apply mt-2 flex flex-row items-center flex-wrap gap-2;
        }

        & .rating {
            @apply flex flex-row items-center gap-1;
        }

        & .rating img {
            @apply size-4 object-contain;
        }

        & .rating p {
            @apply font-bold text-base text-white;
        }

        & .content span {
            @apply text-sm text-gray-100;
        }

        & .content .lang {
            @apply capitalize text-gray-100 font-medium text-base;
        }

        & .content .year {
            @apply text-gray-100 font-medium text-base;
        }
    }
}

@utility text-gradient {
    @apply bg-linear-to-r from-[#D6C7FF] to-[#AB8BFF] bg-clip-text text-transparent;
}

@utility fancy-text {
    -webkit-text-stroke: 5px rgba(206, 206, 251, 0.5);
    font-size: 190px;
    font-family: "Bebas Neue", sans-serif;
}

@utility hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

@layer utilities {
    .movie-details {
        @apply text-white pb-20;
    }

    .home-button {
        @apply inline-block mb-4 px-4 py-2 bg-gray-700 hover:bg-gray-600 text-white rounded-md font-semibold transition;
    }

    .movie-backdrop {
        @apply relative w-full h-96 sm:h-[500px] rounded-lg bg-cover bg-center;
    }

    .movie-backdrop::after {
        content: "";
        @apply absolute inset-0 bg-gradient-to-t from-black via-black/80 to-transparent;
    }

    .movie-main {
        @apply max-w-6xl mx-auto px-4 md:px-0 -mt-32 md:flex gap-8 relative z-10;
    }

    .movie-poster {
        @apply w-112 rounded-lg shadow-2xl mx-auto md:mx-0;
    }

    .movie-info {
        @apply flex-1 mt-6 md:mt-0 flex flex-col gap-4;
    }

    .movie-title h1 {
        @apply text-4xl font-bold;
    }

    .movie-title p {
        @apply text-gray-400 italic mt-1;
    }

    .movie-meta {
        @apply flex items-center gap-4 text-gray-300 text-sm md:text-base;
    }

    .movie-genres span {
        @apply bg-blue-600 text-white px-3 py-1 rounded-full text-sm mr-2;
    }

    .movie-overview {
        @apply mt-4 text-gray-200;
    }

    .movie-production h2 {
        @apply font-semibold text-lg mb-2;
    }

    .production-list {
        @apply flex flex-wrap gap-4 items-center;
    }

    .production-item {
        @apply flex items-center gap-2;
    }

    .production-item img {
        @apply h-8 bg-white p-2 rounded-xl;
    }

    .production-item span {
        @apply text-gray-300;
    }

    .movie-languages-countries {
        @apply mt-4 flex flex-wrap gap-5 text-gray-400 text-sm;
    }

    .languages, .countries {
        @apply flex flex-col gap-2 min-w-[120px];
    }

    .languages span:first-child, .countries span:first-child {
        @apply font-semibold text-gray-200;
    }

    .movie-homepage {
        @apply mt-6 inline-block bg-blue-600 hover:bg-blue-700 px-6 py-2 rounded-md font-semibold transition;
    }
}